@import "animations/daisy-sad-scene.css";
@import "animations/daisy-happy-scene.css";

.daisy {
	background: url('images/happy-daisy-1.png') no-repeat;
}

.sad .daisy {
	-webkit-animation: daisySadScene 16s 0s linear infinite;
	-moz-animation: daisySadScene 16s 0s linear infinite;
	animation: daisySadScene 16s 0s linear infinite;
}

.happy .daisy {
	-webkit-animation: daisyHappyScene 4s 0s linear infinite;
	-moz-animation: daisyHappyScene 4s 0s linear infinite;
	animation: daisyHappyScene 4s 0s linear infinite;
}