@-moz-keyframes heartbeat {
    0% { -moz-transform: scale(1); }
    30% { -moz-transform: scale(1); }
    40% { -moz-transform: scale(1.25); }
    50% { -moz-transform: scale(1); }
    60% { -moz-transform: scale(1); }
    70% { -moz-transform: scale(1.14); }
    80% { -moz-transform: scale(1); }
    100% { -moz-transform: scale(1); }
}


@-webkit-keyframes heartbeat {
    0% { -webkit-transform: scale(1); }
    30% { -webkit-transform: scale(1); }
    40% { -webkit-transform: scale(1.25); }
    50% { -webkit-transform: scale(1); }
    60% { -webkit-transform: scale(1); }
    70% { -webkit-transform: scale(1.14); }
    80% { -webkit-transform: scale(1); }
    100% { -webkit-transform: scale(1); }
}

@keyframes heartbeat {
    0% { transform: scale(1); }
    30% { transform: scale(1); }
    40% { transform: scale(1.25); }
    50% { transform: scale(1); }
    60% { transform: scale(1); }
    70% { transform: scale(1.14); }
    80% { transform: scale(1); }
    100% { transform: scale(1); }
}