@import "animations/donald-sad-scene.css";
@import "animations/donald-happy-scene.css";

.donald {
	background: url('images/happy-donald-1.png') no-repeat;
}

.sad .donald {
	-webkit-animation: donaldSadScene 16s 0s linear infinite;
	-moz-animation: donaldSadScene 16s 0s linear infinite;
	animation: donaldSadScene 16s 0s linear infinite;
}

.happy .donald {
	-webkit-animation: donaldHappyScene 4s 0s linear infinite;
	-moz-animation: donaldHappyScene 4s 0s linear infinite;
	animation: donaldHappyScene 4s 0s linear infinite;
}