@import "animations/mickey-sad-scene.css";
@import "animations/mickey-happy-scene.css";

.mickey {
	background: url('images/happy-mickey-1.png') no-repeat;
}

.sad .mickey {
	-webkit-animation: mickeySadScene 16s 0s linear infinite;
	-moz-animation: mickeySadScene 16s 0s linear infinite;
	animation: mickeySadScene 16s 0s linear infinite;
}

.happy .mickey {
	-webkit-animation: mickeyHappyScene 4s 0s linear infinite;
	-moz-animation: mickeyHappyScene 4s 0s linear infinite;
	animation: mickeyHappyScene 4s 0s linear infinite;
}